extends layout

block content
  div.content-header
    h2= category.sub_title
  div.content-body
    div.article-list
      - for (ctg in posts.category) {
          h4(id=ctg) #{ctg}(#{posts.category[ctg].length})
        - if (posts.category.hasOwnProperty(ctg)) {
              ul
              - each article in posts.category[ctg]
                li
                  a(href='/p/' + article.path)= article.title
        - }
      - }
      