extends layout

block content
  div.content-header
    h2= article.title
  div.content-body
    div.column-group
      div.large-80
        !{article.preview}
        !{article.content}
      div.large-20
        div.sidebar-block
          h6= other.date_text
          span.ink-label.info= article.date
          h6= other.time_text
          span.ink-label.info= article.time
        div.sidebar-block
          h6= tag.sub_title
          - each tag in article.tag
            span.ink-label.success= tag 
        div.sidebar-block
          h6= category.sub_title
          - each ctg in article.category
            span.ink-label.warning= ctg