extends layout

block content
  div.content-header
    h2= base_title
  div.content-body
    - var max_show = Math.min(data.length, index.max_preview);
    - for (var k = 0; k < max_show; ++k) {
    -   var post = data[k];
        div.article-preview
          h3
            a(href='/post/' + post.abbr_path)= post.title
          div.article-preview-content !{post.preview_html}
          div.article-preview-footer
            span.ink-label.info= post.last_date_str
    - }
    - if (data.length > max_show)
      button.ink-button
        a(href='/archive')= language.other.more_button_text