doctype 5
html
  head
    title= base_title
    link(rel='stylesheet', href='/css/ink-min.css')
    | <!--[if lte IE 9 ]>
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    | <![endif]--> 
    | <!--[if lte IE 7 ]>
    link(rel='stylesheet', href='/css/ink-ie7-min.css')
    | <![endif]--> 
    link(rel='stylesheet', href='/css/style.css')
  body
    nav.ink-navigation
      ul.menu.horizontal.rounded.shadowed.blue
        div.container
          li#brand
            a(href='/')= blog_name
          li
            a(href='/archives')= language.navbar.archives
          li
            a(href='/categories')= language.navbar.categories
          li
            a(href='/tags')= language.navbar.tags
          li
            a(href='/about')= language.navbar.about
    div.container.content
      block content
      include comment
    include footer